body {
    background-color: rgb(255, 237, 214); 
    margin: 0;
    padding: 15px; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}

.card {
    background-color: rgb(170, 170, 154);
    width: 100%;
    max-width: 380px; /* Telefonlarda tam sığar, bilgisayarda çok büyümesini engeller */
    padding: 30px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Elemanları alt alta dizer */
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

h1 {
    color: white;
    margin: 0 0 10px 0;
    font-size: 28px;
}

.text {
    color: rgb(168, 255, 181);
    font-size: 20px;
    margin: 0 0 25px 0;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Input ve buton arasına  boşluk bırakır */
    margin-bottom: 20px;
}

#ligAdi {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px; 
}

.lig-ekle {
    background-color: rgb(201, 176, 91);
    color: black;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
}

.devam-link {
    width: 100%;
    text-decoration: none; 
}

.devam {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background 0.2s;
}

.devam:hover {
    background-color: #444;
}
input[type="text"] {
    text-transform: uppercase;
}
